streamlit
pandas==2.3.3
numpy
scikit-learn
tensorflow
keras
langchain
langchain-google-genai
langchain-groq
langchain-openai
langgraph
google-generativeai
openai
groq
xgboost
shap
evidently==0.4.15
deepchecks
matplotlib
seaborn
plotly
altair
fastapi
uvicorn
python-dotenv
joblib
langchain-huggingface


