streamlit
pandas
numpy
scikit-learn
tensorflow
keras
langchain
langchain-google-genai
langchain-groq
langchain-openai
langgraph
google-generativeai
openai
groq
xgboost
shap
evidently
deepchecks
matplotlib
seaborn
plotly
altair
fastapi
uvicorn
python-dotenv
joblib
langchain-huggingface
