streamlit
pandas
numpy>=1.26.0,<2.0.0
scikit-learn
tensorflow==2.20.0
keras
langchain==1.2.8
langchain-google-genai
langchain-groq
langchain-openai
langgraph
google-generativeai
openai
groq
xgboost
shap
evidently==0.4.33
deepchecks
matplotlib
seaborn
plotly
altair
fastapi
uvicorn
python-dotenv
joblib
langchain-huggingface
protobuf<=3.20.3
pydantic<2.0
